footer.fn-clear
    nav.fn-left
        ul
            li
                a(href='/page?content=aboutme') About me
            li
                a(href='/page?content=mail') contact
            li
                a(href='/rss') RSS
    .copyright.fn-right
        &copy; 2012 | MIT licence.