header
    #header.fn-clear
        h1.fn-left #{title}

        nav#main-menu.fn-right
            ul
                li
                    a(href='/')
                        span Index
                li
                    a(href='/message')
                        span Message
                li
                    a(href='/setting')
                        span Setting
                li
                    a(href='/logout')
                        span Logout
