extends layout

block content
    include header

    div.content
        div.main

            form(name='write-room', method='post')

                fildeset
                    label Title:
                    input(type='text', name='title')
                    label Body:
                    textarea(name='body')
                    hr
                    input(type='button', value='Save')
                    input(type='submit', value='Post')
                    input(type='reset', value='reset')
    include footer