aside.sidebar.fn-right

    div.sidebarmenu
        ul
            li
                a(href='') 1篇喜欢的文章
            li
                a(href='') 2个关注的博客
            li
                a(href='') 发现

    div.sidebarmenu
        ul
            li
                a(href='') 猫舍的博客
            li
                a(href='') 圆圈的博客
            li
                a(href='') Lonely

