ul.toolbar
    li.avator
        a(href='/setting/upload_avator') 头像
    li.write
        a(href='/creative/write') 文字
    li.photo
        a(href='/creative/photo') 图片
    li.music
        a(href='/creative/music') 音乐
    li.video
        a(href='/creative/video') 视频
